In [19]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv('healthcare_dataset_B.csv')  # Load CSV file

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55500 entries, 0 to 55499
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          55500 non-null  int64
 1   Name                55500 non-null  object
 2   Age                 55500 non-null  int64
 3   Gender              55500 non-null  object
 4   Blood Type          55334 non-null  object
 5   Medical Condition   55500 non-null  object
 6   Date of Admission   55500 non-null  object
 7   Doctor              55222 non-null  object
 8   Hospital            55500 non-null  object
 9   Insurance Provider  55500 non-null  object
 10  Billing Amount      55500 non-null  float64
 11  Room Number         52725 non-null  float64
 12  Admission Type      55500 non-null  object
 13  Discharge Date      55500 non-null  object
 14  Medication          55500 non-null  object
 15  Test Results        55500 non-null  object
dtypes: float64(2), int64(2), object(12)
memory usage: 6.8+ MB

In [29]:
pd.to_datetime(df['Date of Admission'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55500 entries, 0 to 55499
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          55500 non-null  int64
 1   Name                55500 non-null  object
 2   Age                 55500 non-null  int64
 3   Gender              55500 non-null  object
 4   Blood Type          55334 non-null  object
 5   Medical Condition   55500 non-null  object
 6   Date of Admission   55500 non-null  object
 7   Doctor              55222 non-null  object
 8   Hospital            55500 non-null  object
 9   Insurance Provider  55500 non-null  object
 10  Billing Amount      55500 non-null  float64
 11  Room Number         52725 non-null  float64
 12  Admission Type      55500 non-null  object
 13  Discharge Date      55500 non-null  object
 14  Medication          55500 non-null  object
 15  Test Results        55500 non-null  object
dtypes: float64(2), int64(2), object(12)
memory usage: 6.8+ MB

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55500 entries, 0 to 55499
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          55500 non-null  int64
 1   Name                55500 non-null  object
 2   Age                 55500 non-null  int64
 3   Gender              55500 non-null  object
 4   Blood Type          55334 non-null  object
 5   Medical Condition   55500 non-null  object
 6   Date of Admission   55500 non-null  object
 7   Doctor              55222 non-null  object
 8   Hospital            55500 non-null  object
 9   Insurance Provider  55500 non-null  object
 10  Billing Amount      55500 non-null  float64
 11  Room Number         52725 non-null  float64
 12  Admission Type      55500 non-null  object
 13  Discharge Date      55500 non-null  object
 14  Medication          55500 non-null  object
 15  Test Results        55500 non-null  object
dtypes: float64(2), int64(2), object(12)
memory usage: 6.8+ MB

In [22]:
df['Age'].describe()

count    55500.000000
mean        51.539459
std         19.602454
min         13.000000
25%         35.000000
50%         52.000000
75%         68.000000
max         89.000000
Name: Age, dtype: float64

In [23]:
df.isnull().sum()

Unnamed: 0               0
Name                     0
Age                      0
Gender                   0
Blood Type             166
Medical Condition        0
Date of Admission        0
Doctor                 278
Hospital                 0
Insurance Provider       0
Billing Amount           0
Room Number           2775
Admission Type           0
Discharge Date           0
Medication               0
Test Results             0
dtype: int64

In [37]:
df['Date of Admission']= pd.to_datetime(df['Date of Admission'])
df['Discharge Date'] = pd.to_datetime(df['Discharge Date'])
df['Duration of Stay'] =  df['Discharge Date']-df['Date of Admission']

In [38]:
df.head()

,Unnamed: 0,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results,Duration of Stay
0,0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328.0,Urgent,2024-02-02,Paracetamol,Normal,2 days
1,1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265.0,Emergency,2019-08-26,Ibuprofen,Inconclusive,6 days
2,2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205.0,Emergency,2022-10-07,Aspirin,Normal,15 days
3,3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450.0,Elective,2020-12-18,Ibuprofen,Abnormal,30 days
4,4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458.0,Urgent,2022-10-09,Penicillin,Abnormal,20 days

In [76]:

filtered_rows2 = df['Medical Condition']
filtered_rows2
s = filtered_rows2.value_counts()
print (s)

Medical Condition
Diabetes        8776
Arthritis       8744
Cancer          8728
Hypertension    8705
Obesity         8704
Asthma          8648
Name: count, dtype: int64

:

In [54]:
filtered_rows = df[df['Age'] > 80]
filtered_rows.describe()
filtered_rows2
s = filtered_rows2.value_counts()
print (s)

Medical Condition
Arthritis       688
Hypertension    680
Cancer          679
Asthma          676
Obesity         670
Diabetes        642
Name: count, dtype: int64

In [57]:
df['Billing Amount'].max()
df2 = df.loc[df['Billing Amount'] == df['Billing Amount'].max()]
print(df2)

       Unnamed: 0           Name  Age  Gender Blood Type Medical Condition  \
36349       36349  tOdd CARrILlO   51  Female         A+      Hypertension

      Date of Admission            Doctor       Hospital Insurance Provider  \
36349        2023-09-08  Kathleen Griffin  Griffin Group         Blue Cross

       Billing Amount  Room Number Admission Type Discharge Date Medication  \
36349    52764.276736        209.0       Elective     2023-10-04  Ibuprofen

      Test Results Duration of Stay
36349       Normal          26 days

In [69]:
row_nan_count = df.isna().sum(axis=1)
print(row_nan_count.sum())

3219

In [71]:
df['Name'] = df['Name'].str.lower()

In [75]:
df = df.dropna()
df

,Unnamed: 0,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results,Duration of Stay
0,0,bobby jackson,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328.0,Urgent,2024-02-02,Paracetamol,Normal,2 days
1,1,leslie terry,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265.0,Emergency,2019-08-26,Ibuprofen,Inconclusive,6 days
2,2,danny smith,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205.0,Emergency,2022-10-07,Aspirin,Normal,15 days
3,3,andrew watts,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450.0,Elective,2020-12-18,Ibuprofen,Abnormal,30 days
4,4,adrienne bell,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458.0,Urgent,2022-10-09,Penicillin,Abnormal,20 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55495,55495,elizabeth jackson,42,Female,O+,Asthma,2020-08-16,Joshua Jarvis,Jones-Thompson,Blue Cross,2650.714952,417.0,Elective,2020-09-15,Penicillin,Abnormal,30 days
55496,55496,kyle perez,61,Female,AB-,Obesity,2020-01-23,Taylor Sullivan,Tucker-Moyer,Cigna,31457.797307,316.0,Elective,2020-02-01,Aspirin,Normal,9 days
55497,55497,heather wang,38,Female,B+,Hypertension,2020-07-13,Joe Jacobs DVM,"and Mahoney Johnson Vasquez,",UnitedHealthcare,27620.764717,347.0,Urgent,2020-08-10,Ibuprofen,Abnormal,28 days
55498,55498,jennifer jones,43,Male,O-,Arthritis,2019-05-25,Kimberly Curry,"Jackson Todd and Castro,",Medicare,32451.092358,321.0,Elective,2019-05-31,Ibuprofen,Abnormal,6 days
55499,55499,james garcia,53,Female,O+,Arthritis,2024-04-02,Dennis Warren,Henry Sons and,Aetna,4010.134172,448.0,Urgent,2024-04-29,Ibuprofen,Abnormal,27 days